* {
    box-sizing: border-box;
}

body {
    background-color: #F7F8F3;
    font-family: helvetica, sans-serif;
    font-size: 14px;
}
  
#farmos {
    font-size: 45px;
    font-weight: bold;
    position: fixed;
    top: 0px;
}

ul {
    list-style-type: none;
}

#title {
    display: flex;
    justify-content: center;
}
  
.header { 
    background-color: #F7F8F3;
    width: 100vw;
    height: 15vh;
    position: fixed;
    top: 0px;
    left: 0px; 
    border: 2px solid;
    border-style: groove;
}

nav {
    background-color: #F7F8F3;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 100px;
    left: 0px;
    border: 2px solid;
    border-style: groove;
}

.tab {
    background-color: #F7F8F3;
    width: 12vh;
    height: 6vh;
    position: fixed;
    text-align: center;
    border-top-left-radius: 25px;
    top: 16vh;
    border: 2px solid;
    border-style: inset;
}

#t1 {
    left: 5px;
    height: 6vh;
    padding-bottom: 15px;
}

#t2 {
    left: 95px;
    height: 6vh;
    padding-top: 15px;
}

#t3 {
    left: 185px;
    height: 6vh;
    padding-top: 15px;
}

#t4 {
    left: 275px;
    height: 6vh;
    padding-bottom: 15px;
}

#t5 {
    left: 365px;
    height: 6vh;
    padding-top: 15px;
}

p {
    text-transform: uppercase;
    font-weight: bold;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
  
#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}
  
#error-msg-second-line {
    display: block;
}

.login-form-field::placeholder {
    color: #3a3a3a;
}
  
.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}
  
#login-form-submit {
    width: 30%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
}

#signup-form-submit {
    width: 30%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
}

#setup-form-submit {
    width: 30%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
}

.setup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user {
    color: black;
    font-weight: bold;
    position: fixed;
    top: 0px;
    right: 75px;
}

#log-out {
    color: #F7F8F3;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 30px;
    position: fixed;
}

#about {
    top: 10px;
    right: 100px;
    position: fixed;
}

#time {
    top: 50px;
    right: 30px;
    font-weight: bold;
    position: fixed;
    font-size: 18px;
}

.tab-div {
    position: fixed;
    width: 100%;
    top: 25vh;
    opacity: 0;
    z-index: 2;
    background-color: #F7F8F3;
    height: 100%;
    border: 2px solid;
    border-style: groove;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home {
    position: fixed;
    width: 100%;
    top: 25vh;
    left: 0px;
    background-color: #F7F8F3;
    z-index: 1;
    height: 100%;
    border: 2px solid;
    border-style: groove;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
}

#emp-home {
    position: fixed;
    width: 100%;
    top: 100px;
    left: 0px;
    background-color: #F7F8F3;
    z-index: 1;
    height: 100%;
    border: 2px solid;
    border-style: groove;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
}

.tasks {
    background-color: #F7F8F3;
    text-align: center;
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    height: 100%;
}

#assigned {
    top: 175px;
    margin-left: 0px;
}

#emp-assigned {
    top: 100px;
    margin-left: 0px;
}

#other {
    top: 175px;
    margin-right: 100px;
}

#emp-other {
    top: 100px;
    margin-right: 100px;
}

.label {
    border: 2px solid;
    height: 50px;
    padding: 5px 10px;
    padding-top: 0px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    position: sticky;
}

.grid-label {
    border: 2px solid;
    height: 65px;
    padding: auto auto auto auto;
    margin: 20px;
    line-height: 1.25;
    text-align: center;
}

.big-label {
    border: 2px solid;
    height: 50px;
    padding: 5px 10px;
    padding-top: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#task-list-box {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow-y: auto;
    position: fixed;
    top: 275px;
    flex-direction: column;
    width: 40%;
    max-height: 414px;
}

#emp-task-list-box {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow-y: auto;
    position: fixed;
    top: 200px;
    flex-direction: column;
    width: 40%;
    max-height: 414px;
}

#task-grid-box {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 400px;
    overflow-y: scroll;
    position: fixed;
    top: 275px;
    width: 40%;
}

#emp-task-grid-box {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 414px;
    overflow-y: scroll;
    position: fixed;
    top: 200px;
    width: 40%;
}

#all-task-box {
    grid-template-columns: auto auto auto;
    height: 400px;
    overflow-y: scroll;
    position: fixed;
    top: 275px;
    width: 40%;
}

#all-tasks {
    top: 200px;
    position: fixed;
}

#today {
    top: 200px;
    position: fixed;
}

#todays-task-list {
    grid-template-columns: auto auto auto;
    height: 400px;
    overflow-y: scroll;
    position: fixed;
    top: 275px;
    width: 40%;
}

#task-selected {
    display: none;
    position: fixed;
    text-align: center;
    width: 45%;
    height: 500px;
    top: 125px;
    right: 75px;
    z-index: 3;
    background-color: #F7F8F3;
}

h2 {
    text-transform: uppercase;
}

#selected {
    width: 50%;
    margin: 0 auto 0 auto;
}

#log {
    border: 2px solid;
    width: 30%;
    height: 30%;
    margin: 0 auto 0 auto;
}

#report {
    border: 2px solid;
    width: 20%;
    margin: 10px auto 0 auto;
    height: 50px;
}

#save {
    border: 2px solid;
    width: 20%;
    margin: 10px auto 0 auto;
    height: 70px;
}

#complete {
    border: 2px solid;
    width: 20%;
    margin: 10px auto 0 auto;
    height: 50px;
}

#completed-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#save-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

.q {
    border: 2px solid;
    margin: 10px auto 0 auto;
    text-align: center;
    width: 250px;
}

.yn {
    border: 2px solid;
    margin: 10px auto 0 auto;
    text-align: center;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}

#report-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#sau-log-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#maintenance-log-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#ngco-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#inputs-log-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#dvi-log-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
    overflow-y: scroll;
}

#cha-log-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 450px;
    height: 625px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#ci-log-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 450px;
    height: 575px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#wa-log-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 575px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#clean-log-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#subtask-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#preharv-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 550px;
    height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#postpack-pop-up {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 550px;
    height: 675px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#x-prod-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 550px;
    height: 675px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#neg-prod-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 550px;
    height: 675px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#unpacked-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 550px;
    height: 675px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#ca-log-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 575px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

.flex-box-holder {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;
}

.expand {
    border-bottom: double;
    width: 80%;
    margin: auto;
    cursor: pointer;
    display: flex;
}

.hidden {
    display: none;
    margin-left: 10%;
    flex-direction: column;
}

#or {
    margin-top: 1.5vh;
}

#maint-issue {
    width: 75%;
}

.sau-label {
    font-weight: bold;
}

.maint-label {
    font-weight: bold;
}

.ngco-label {
    font-weight: bold;
}

.inputs-label {
    font-weight: bold;
}

#sau-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

.cancel {
    width: 7vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#maint-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#ngco-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#inputs-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#dvi-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#dvi-form-save {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#cha-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#ci-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#wa-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#clean-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#subtask-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#preharv-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#postpack-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#x-prod-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#neg-prod-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#unpacked-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

#ca-form-submit {
    width: 10vw;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

.mm {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    width: 2vw;
    outline: none;
    padding: 0px 0px 5px 5px;
}

.dd {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    width: 2vw;
    outline: none;
    padding: 0px 0px 5px 5px;
}

.yyyy {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    width: 5vw;
    outline: none;
    padding: 0px 0px 5px 5px;
}

.entry {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

.temp-entry {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    width: 30px;
}

.long-entry {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 8vh;
    line-height: 3vh;
    outline: none;
    padding: 0px 0px 5px 5px;
}

.long-entry {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 27vh;
    line-height: 3vh;
    outline: none;
    padding: 0px 0px 5px 5px;
}

.mini-row {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin: 0px 10px;
    justify-content: center;
    text-align: center;
}

#issue-input {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

#yesno {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#cansub {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#upload {
    margin: 0 auto 20px auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-table {
    width: 100%;
    position: fixed;
    max-height: 75vh;
    flex-direction: column;
    justify-content: left;
    top: 25vh;
    overflow-y: scroll;
}

#mushrooms {
    position: relative;
    width: 98%;
}

#hydroponics {
    position: relative;
    width: 98%;
}

#cleaning {
    position: relative;
    width: 98%;
}

#production {
    position: relative;
    width: 98%;
}

#administration {
    position: relative;
    width: 98%;
}

#extra-tasks {
    position: relative;
    width: 98%;
}

.blue-bar {
    width: 100%;
    background-color: #8ACCEE;
    padding-left: 10px;
    border: 2px solid black;
    line-height: 30px;
    height: 30px;
    padding-top: 0px;
}

#mush {
    margin: 0px;
}

#hydro {
    margin: 0px;
}

#clean {
    margin: 0px;
}

#pro {
    margin: 0px;
}

#admin {
    margin: 0px;
}

#extra {
    margin: 0px; 
}

.row {
    display: grid;
    grid-template-columns: 40% 20% 20% 10% 10%;
    width: 100%;
    padding-left: 10px;
    position: relative;
    border-bottom: 1px groove;
}

.long-row {
    display: grid;
    grid-template-columns: 40% 20% 20% 8% 4% 8%;
    width: 100%;
    padding-left: 10px;
    position: relative;
    border-bottom: 1px groove;
}

#edit {
    height: 20px;
    line-height: 20px;
    margin: 10px 0px 0px 0px;
}

#edit2 {
    height: 20px;
    line-height: 20px;
    margin: 10px 0px 0px 0px;
    width: 40px;
}

#del {
    height: 20px;
    line-height: 20px;
    margin: 10px 0px 0px 0px;
    width: 70px;
}

#mlabel {
    position: relative;
    color: gray;
    border: 0px;
    width: 100%;
}

#hlabel {
    position: relative;
    color: gray;
    border: 0px;
    width: 100%;
}

#clabel {
    position: relative;
    color: gray;
    border: 0px;
    width: 100%;
}

#plabel {
    position: relative;
    color: gray;
    border: 0px;
    width: 100%;
}

#alabel {
    position: relative;
    color: gray;
    border: 0px;
    width: 100%;
}

#xlabel {
    position: relative;
    color: gray;
    border: 0px;
    width: 100%;
}

.table {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.xtable {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#edit-task-pop-up {
    position: fixed;
    height: 60vh;
    width: 70vh;
    background-color: #F7F8F3;
    border: 2px solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    opacity: 0;
    display: none;
    grid-template-rows: 19% 19% 19% 19% 24%;
    padding-top: 40px;
}

#c4 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto;
    margin-top: 20px;
}

#c5 {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
}

#edit-sub {
    height: 3vh;
    padding-top: 1vh;
}

#edit-del {
    height: 3vh;
    padding-top: 1vh;
}

#edit-cancel {
    height: 3vh;
    padding-top: 1vh;
}

.gray-word {
    color: gray;
}

#c0 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 40px;
}

#c1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 40px;
}

#c2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 40px;
}

#c3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 40px;
}

#weekday-table {
    display: flex;
    flex-direction: row;
}

#staff-table {
    display: flex;
    flex-direction: row;
}

#time-table {
    display: flex;
    flex-direction: row;
}

.day {
    border: 2px solid;
    width: 3vw;
    height: 5vh;
    line-height: 5vh;
    margin: 0px 3px;
    margin-bottom: 5px;
    background-color: #F7F8F3;
}

.num {
    border: 2px solid;
    width: 1.5vw;
    height: 5vh;
    line-height: 5vh;
    margin: 0px 3px;
    margin-bottom: 5px;
    background-color: #F7F8F3;
}

#undef {
    width: 4vw;
}


.center {
    margin-block-end: 0;
    margin-block-start: 0;
    margin: 0px 7px;
}

#mon {
    background-color: #F7F8F3;
}

#tue {
    background-color: #F7F8F3;
}

#wed {
    background-color: #F7F8F3;
}

#thu {
    background-color: #F7F8F3;
}

#fri {
    background-color: #F7F8F3;
}

.time-changer {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    height: 3vh;
    width: 2vw;
    margin-left: 3px;
    margin-right: 3px;
}

#time-changer-label {
    margin-left: 10px;
    font-weight: bold;
    margin-top: 5px;
}

#task-time {
    margin-block-end: 0px;
    margin-block-start: 0px;
}

#time-changer-sub {
    width: 5vw;
    height: 4vh;
    line-height: 4vh;
}

#task-name {
    margin-block-end: 0px;
    margin-block-start: 0px;
}


#error-message-holder {
    width: 100%;
    height: 100%;
    display: none;
    justify-items: center;
    align-items: center;
    position: fixed;
    z-index: 7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
  
#error-message {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
    z-index: inherit;
}

#staff-label-row {
    display: grid;
    grid-template-columns: 35% 10% 10% 45%;
    width: 98%;
    padding-left: 10px;
    position: relative;
    color: gray;
    border: 0px;
}

.staff-task-row {
    display: grid;
    grid-template-columns: 35% 10% 10% 45%;
    width: 100%;
    position: relative;
    border-bottom: 1px groove;
}

#staff-task-holder {
    width: 98%;
    padding-left: 10px;
    position: relative;
}

#staff-names {
    display: flex;
    flex-direction: row;
    max-width: 87%;
    overflow-x: scroll;
    margin-left: 20px;
}

.emp-holder {
    display: flex;
    flex-direction: column;
    border: 0px;
    min-width: 150px;
    margin-top: 20px;
}

#refresh-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#refresh {
    border: 2px solid;
    margin: 20px;
    padding: 10px;
    line-height: 20px;
    height: 45px;
    cursor: pointer;
}

.emp-holder p {
    margin-block-start: 1px;
    margin-block-end: 1px;
}

.small-yn {
    width: 30px;
    position: relative;
    display: inline;
    border: 2px solid;
    font-weight: bold;
    margin: auto;
    padding: 1px;
    margin-left: 5px;
    margin-right: 0px;
    background-color: rgb(247, 248, 243);
    cursor: pointer;
}

.inline-yn {
    width: 30px;
    position: relative;
    display: inline;
    border: 2px solid;
    font-weight: bold;
    margin: auto;
    padding: 1px;
    margin-left: 5px;
    margin-right: 0px;
    background-color: rgb(247, 248, 243);
    cursor: pointer;
}

.two-cols {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 5%;
}

.four-by-four {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    margin: 5%;
}

.area {
    border: 2px solid;
    margin: 2px;
    padding: auto;
    display: table;
}

.area b {
    display: table-cell;
    vertical-align: middle;
}

.subtask-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.big-button {
    border: 2px solid;
    margin: 0px auto;
    padding: 5px;
    text-align: center;
    width: 50%;
    background-color: rgb(247, 248, 243);
    cursor: pointer;
}

.form-table {
    width: 75%;
    margin: auto;
    border-collapse: collapse;
}

.table-entry {
    border: none;
    margin-bottom: auto;
    border-radius: 3px;
    outline: none;
    padding: auto 5px 5px;
    width: 100%;
    height: 100%;
    line-height: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 2px;
    font-weight: bold;
    font-size: 14px;
  }
  
  tr:nth-child(even) {
    background-color: white;
  }