body {
    background-color: #F7F8F3;
    font-family: helvetica, sans-serif;
    font-size: 14px;
}
  
#farmos {
    font-size: 45px;
    font-weight: bold;
    position: fixed;
    top: 0px;
}

#title {
    display: flex;
    justify-content: center;
}
  
.header { 
    background-color: #F7F8F3;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px; 
    border: 2px solid;
    border-style: groove;
}

nav {
    background-color: #F7F8F3;
    width: 100%;
    height: 75px;
    position: fixed;
    top: 100px;
    left: 0px;
    border: 2px solid;
    border-style: groove;
}

.tab {
    background-color: #F7F8F3;
    width: 85px;
    height: 60px;
    position: fixed;
    text-align: center;
    border-top-left-radius: 25px;
    top: 115px;
    border: 2px solid;
    border-style: inset;
}

#t1 {
    left: 5px
}

#t2 {
    left: 95px;
    height: 45px;
    padding-top: 15px;
}

#t3 {
    left: 185px;
    height: 45px;
    padding-top: 15px;
}

#t4 {
    left: 275px;
}

#t5 {
    left: 365px;
    height: 45px;
    padding-top: 15px;
}

p {
    text-transform: uppercase;
    font-weight: bold;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
  
#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}
  
#error-msg-second-line {
    display: block;
}

.login-form-field::placeholder {
    color: #3a3a3a;
}
  
.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}
  
#login-form-submit {
    width: 30%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
}

#signup-form-submit {
    width: 30%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
}

#setup-form-submit {
    width: 30%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    margin: auto auto auto auto;
}

.setup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user {
    color: black;
    font-weight: bold;
    position: fixed;
    top: 0px;
    right: 75px;
}

#log-out {
    color: #F7F8F3;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 30px;
    position: fixed;
}

#about {
    top: 10px;
    right: 100px;
    position: fixed;
}

#time {
    top: 50px;
    right: 30px;
    font-weight: bold;
    position: fixed;
    font-size: 18px;
}

.tab-div {
    position: fixed;
    width: 100%;
    top: 175px;
    opacity: 0;
    z-index: 2;
    background-color: #F7F8F3;
    height: 100%;
    border: 2px solid;
    border-style: groove;
    left: 0px;
}

#home {
    position: fixed;
    width: 100%;
    top: 175px;
    left: 0px;
    background-color: #F7F8F3;
    z-index: 1;
    height: 100%;
    border: 2px solid;
    border-style: groove;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
}

#emp-home {
    position: fixed;
    width: 100%;
    top: 100px;
    left: 0px;
    background-color: #F7F8F3;
    z-index: 1;
    height: 100%;
    border: 2px solid;
    border-style: groove;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
}

.tasks {
    background-color: #F7F8F3;
    text-align: center;
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    height: 100%;
}

#assigned {
    top: 175px;
    margin-left: 0px;
}

#emp-assigned {
    top: 100px;
    margin-left: 0px;
}

#other {
    top: 175px;
    margin-right: 100px;
}

#emp-other {
    top: 100px;
    margin-right: 100px;
}

.label {
    border: 2px solid;
    height: 50px;
    padding: 5px 10px;
    padding-top: 0px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    position: sticky;
}

.grid-label {
    border: 2px solid;
    height: 50px;
    padding: 5px 10px;
    margin: 20px;
}

.big-label {
    border: 2px solid;
    height: 50px;
    padding: 5px 10px;
    padding-top: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#task-list-box {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow-y: auto;
    position: fixed;
    top: 275px;
    flex-direction: column;
    width: 40%;
    max-height: 414px;
}

#emp-task-list-box {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow-y: auto;
    position: fixed;
    top: 200px;
    flex-direction: column;
    width: 40%;
    max-height: 414px;
}

#task-grid-box {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 400px;
    overflow-y: scroll;
    position: fixed;
    top: 275px;
    width: 40%;
}

#emp-task-grid-box {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 414px;
    overflow-y: scroll;
    position: fixed;
    top: 200px;
    width: 40%;
}

#task-selected {
    display: none;
    position: fixed;
    text-align: center;
    width: 45%;
    height: 500px;
    top: 125px;
    right: 75px;
    z-index: 3;
    background-color: #F7F8F3;
}

h2 {
    text-transform: uppercase;
}

#selected {
    width: 50%;
    margin: 0 auto 0 auto;
}

#log {
    border: 2px solid;
    width: 30%;
    height: 30%;
    margin: 0 auto 0 auto;
}

#report {
    border: 2px solid;
    width: 20%;
    margin: 10px auto 0 auto;
    height: 50px;
}

#save {
    border: 2px solid;
    width: 20%;
    margin: 10px auto 0 auto;
    height: 70px;
}

#complete {
    border: 2px solid;
    width: 20%;
    margin: 10px auto 0 auto;
    height: 50px;
}

#completed-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#save-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

.q {
    border: 2px solid;
    margin: 10px auto 0 auto;
    text-align: center;
    width: 250px;
}

.yn {
    border: 2px solid;
    margin: 10px auto 0 auto;
    text-align: center;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}

#report-pop-up {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: fixed;
    border: 2px solid;
    background-color: #F7F8F3;
}

#issue-input {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

#yesno {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#cansub {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#upload {
    margin: 0 auto 20px auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}